title{
	font-size:72px;
	color:white;

}h1{
	font-size:72px;
	color:white;
}
	@keyframes swageffect{
	    0%  {color:purple;}
	   25%  {color:blue;}
	   50%  {color:green;}
	   75%  {color:white;}
	   100% {color:black;}
	}
	@-webkit-keyframes swageffect{
	    0%  {color:purple;}
	   25%  {color:blue;}
	   50%  {color:green;}
	   75%  {color:white;}
	   100% {color:black;}
	}
	h1{
	  font-family: 'Bungee Shade', cursive;
	  -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
	  -webkit-animation-duration: 5s;
	  animation-name: swageffect;
	  font-size: 60px;
	  animation-duration: 5s;
	  animation-iteration-count: infinite;
	  -webkit-animation-iteration-count: infinite;
	}


p{
	font-size:50px;
	color:white;

}
body{
	background-image: url("galaxy.jpg");
}
